<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services configSource="WCF.Services.config"/>
    <bindings configSource="WCF.Bindings.config"/>
    <behaviors configSource="WCF.Behaviors.config"/>
    <extensions configSource="WCF.Extensions.config"/>
  </system.serviceModel>
</configuration>