<services>
  <service name="Client.Services.TestService"
           behaviorConfiguration="customBehaviour">
    <endpoint address="http://localhost:8080/TestService"
          binding="wsHttpBinding"
          contract ="Client.Services.ITestService"
          bindingConfiguration="ServiceBinding">
    </endpoint>
    <endpoint contract="IMetadataExchange"
          binding="mexHttpBinding"
          address="mex" />
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:8080/TestService" />
      </baseAddresses>
    </host>
  </service>
</services>
