<behaviors>
  <serviceBehaviors>
    <behavior name="customBehaviour">
      <serviceMetadata httpGetEnabled="true"/>
      <serviceDebug includeExceptionDetailInFaults="true"/>
      <serviceAuthorization principalPermissionMode="Custom">
        <authorizationPolicies>
          <add policyType="Server.Implementation.AuthorizationPolicy, Server.Implementation" />
        </authorizationPolicies>
      </serviceAuthorization>
      <serviceCredentials>
        <userNameAuthentication userNamePasswordValidationMode="Custom"
           customUserNamePasswordValidatorType="Server.Implementation.UserAuthentication,Server.Implementation"/>
      </serviceCredentials>
      <serviceInjection />
    </behavior>
  </serviceBehaviors>
</behaviors>