<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable
     name="logLayout"
     value="${level} ${date:format=dd-MM-yyyy HH\:mm\:ss} ${logger}${newline}${message}${newline}"/>

  <targets>
    <target
      name="ServerLog_File"
      xsi:type="File"
      fileName="TActive.Server.log"
      layout="${logLayout}"
      keepFileOpen="true"/>

    <target
      name="ServerLog_Console"
      xsi:type="ColoredConsole"
      useDefaultRowHighlightingRules="false"
      layout="${logLayout}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="ServerLog_File, ServerLog_Console" />
  </rules>

</nlog>