<services>
  <service name="Server.Services.RegistrationService"
           behaviorConfiguration="customBehaviour">
    <endpoint address="http://localhost:8080/RegistrationService"
          binding="wsHttpBinding"
          contract ="Common.DataContracts.IRegistrationService"
          bindingConfiguration="ServiceBinding">
    </endpoint>
    <endpoint contract="IMetadataExchange"
          binding="mexHttpBinding"
          address="mex" />
    <host>
      <baseAddresses>
        <add baseAddress="http://localhost:8080/RegistrationService" />
      </baseAddresses>
    </host>
  </service>
</services>
