<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

    <container>
      <types>
        <type type="Server.Services.IRegistrationService, Server.Services" mapTo="Server.Services.RegistrationService, Server.Services">
          <lifetime type="singleton"/>
        </type>
        <type type="Common.DatabaseRepositories.IRepositoryFactory, Common.DatabaseRepositories" mapTo="Common.DatabaseRepositories.RepositoryFactory, Common.DatabaseRepositories">
          <lifetime type="singleton"/>
        </type>
        <type type="Common.Implementation.Hash.IHashCalculator, Common.Implementation" mapTo="Common.Implementation.Hash.MD5HashCalculator, Common.Implementation">
          <lifetime type="singleton"/>
        </type>
      </types>
    </container>
  </unity>
</configuration>